
<div class = "top">
<div class = "home"><a href = "/">HOME</a></div>
<div class = "signIn-signUp">
    <%= link_to 'sign-in', blogout_main_signin_path %>
    <%= link_to 'sign-up', blogout_main_signup_path  %>
</div>
</div>
<h1> Sorry....user doesn't exist </h1>