<div class="body">
<div class = "top">
    <div class = "home"><a href = "/">HOME</a></div>
    <div class = "signIn-signUp">
        <%= link_to 'sign-up', blogout_main_signup_path  %>
    </div>
    <div class = "signout">
        <%= link_to 'Sign Out', blogout_main_home_path %>
    </div>
</div>
<div class = "tool-bar">
    <%= link_to 'New Post',sessions_post_path %>
    <%= link_to 'My Posts',sessions_myposts_path %>
</div>
<% post = Blog.find_by("id":params["id"]) %>
<% post.delete %>
<h1> deleted successfully. </h1>
</div>